@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bg-color: #27374D;
    --primary-color: #DDE6ED;
    --font-family: 'Montserrat', sans-serif;
}

body {
    background-color: var(--bg-color);
    text-align: center;
    color: var(--primary-color);
    font-family: var(--font-family);
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.divTitle h1 {
    font-size: 5em;
    font-weight: 100;
}

.divTitle p {
    font-size: 2em;
}

.divExibicao {
    margin-top: 50px;
}

.divExibicao h3,
.divExibicao p {
    font-size: 1.5em;
    font-weight: 100;
}


.numeroInformado {
    display: inline-block;
    padding: 2px 20px;
    margin: 10px 0;
    font-size: 6em;
    border: 1px solid var(--primary-color);
}

.esconde {
    display: none;
}